DJANGO_SETTINGS_MODULE=

SECRET_KEY=

DEBUG=

ALLOWED_HOSTS=

TIME_ZONE=

LANGUAGE_CODE=

DB_ENGINE=

DB_NAME=

DB_USER=

DB_PASSWORD=

DB_HOST=

DB_PORT=

LOG_LEVEL=


##########################################
# Gunicorn
##########################################

GUNICORN_WORKERS=2

GUNICORN_THREADS=2

GUNICORN_TIMEOUT=120

GUNICORN_GRACEFUL_TIMEOUT=30

GUNICORN_KEEPALIVE=5

GUNICORN_MAX_REQUESTS=1000

GUNICORN_MAX_REQUESTS_JITTER=100

GUNICORN_WORKER_CLASS=gthread

GUNICORN_LOG_LEVEL=info